@font-face {
    font-family: "Poppins Bold";
    src: url(assets/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins Semibold";
    src: url(assets/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Poppins Regular";
    src: url(assets/Poppins/Poppins-Regular.ttf);
}

body {
    font-family: "Poppins Regular";
}

h1 {
    font-family: "Poppins Bold";
}

.b-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b-container__score {
    margin: 0;
}


.b-container__score--text,
.b-container__time--text {
    font-family: "Poppins Semibold";
    margin: 0;
}

.b-container__time {
    margin-top: 0;
}


.b-square {
    width: 200px;
    height: 200px;
    border: 3px solid #000000;
    background-image: url(assets/bg.jpg);
}

.b-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
}

.b-mole {
    background-image: url(assets/mole.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.b-container__btn {
    margin: 20px;
    background-color: transparent;
    border-radius: 4px;
    padding: 5px 8px;
    font-family: "Poppins Regular";
    cursor: pointer;
    transition: background-color 0.5s;
}

.b-container__btn:hover {
    background-color: #0000001c;
}